.grunt
.idea
.project
.vagrant
*.iml
bower_components
build
dist/*.zip
node_modules
test/html/gist
npm-debug.log

examples
lib
src
test
.gitmodules
.jscs.json
.jshintrc
.travis.yml
bower.json
Dockerfile
Gruntfile.js
karma.conf.js
